@media screen and (max-width: 100vw){
    body{
        background-color: rgba(118, 203, 0, 0.57);
    }
}
@media all and (max-device-width: 100vw){
    body{
        background-color: blueviolet;
    }
}
*{
    margin: 0%;
}
body{
    width: 100vw;
    height: 100vh;
}
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 100%;
}