@media screen and (max-width: 100vw){
    body{
        background-color: rgba(118, 203, 0, 0.57);
    }
}
@media all and (max-device-width: 100vw)/*pour le mobile on va utiliser le max-device-width car cela permet de cibler la largeur de l ecran */{
    body{
        background-color: blueviolet;
    }
}
*{
    margin: 0%;
}
body{
    width: 100vw;
    height: 100vh;
}
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
img{
    width: 10vw;
}
div{
    justify-content: center;
    width: 80vw;
    text-align: center;
    background-color: rgb(233, 233, 233);
}
p{
    text-align: center;
}